@charset "UTF-8";
/*This is a comment*/
p{
        color: black;
        font-size: 50px;
        text-align: center;
        font-family: Chalkboard;

}

h1{
    font-family:Chalkboard;
    color:black;
    text-align:center;
    font-size: 70px;
}

body{
    background-color: #FBECD5;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}
